---
import UserListWithoutAdapter from '../../components/vue/UserListWithoutAdapter.vue';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Without Adapter</title>
</head>
<body>
  <UserListWithoutAdapter client:load />
</body>
</html>
