---
import { UserListWithAdapter } from '../../components/react/UserListWithAdapter';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>React With Adapter</title>
</head>
<body>
  <UserListWithAdapter client:load />
</body>
</html>
